[Unit]
Description=Monitors/Polls the activity switch

[Service]
Type=simple
ExecStart=/usr/bin/python /home/pi/Activity-Indicator/software/switch_monitor.py %i 21 20

[Install]
WantedBy=multi-user.target
