[Unit]
Description=Monitors/Polls the activity switch

[Service]
Type=simple
Restart=on-failure
ExecStart=switch_monitor -c /var/lib/activity-indicator/switch_monitor.ini

[Install]
WantedBy=multi-user.target
